In [ ]:
Get user input using input(“Enter your age: ”). 
If user is 18 or older, give feedback: You are old enough to drive. If below 18 give feedback to wait for the missing amount of years.

In [1]:
age = int(input('Enter your age:'));
if age > 17 :
    print('You are old enough to drive.')
else:
    print('You need '+str(18 - age)+' more years to learn to drive.')

Enter your age:22
You are old enough to drive.

In [ ]:
Compare the values of my_age and your_age using if-else. 
Who is older (me or you)? Use input(“Enter your age: ”) to get the age as input. 
You can use a nested condition to print 'year' for 1 year difference in age, 'years' for bigger differences, 
and a custom text if my_age = your_age.

In [3]:
age = int(input('Enter your age:'));
if (age-25) ==1:
    print(str(age)+'for 1 year difference')
else :
    print('You are '+str(age-25)+' years older than me.')

Enter your age:19
You are -6 years older than me.

In [ ]:
Get two numbers from the user using input prompt. If num_1 is greater than num_2 return num_1 is greater than num_2, 
if num_1 is less num_2 return num_1 is smaller than num_2, else num_1 is equal to num_2. Output:

In [4]:
one = int(input('Enter number one:'))
two = int(input('Enter number two:'))
if one>two:
    print(one,'is greater than',two)
else:
    print(two,'is greater than',one)

Enter number one:5
Enter number two:7
7 is greater than 5

In [5]:
grade = int(input('Enter your grade:'))
if grade>=90 and grade<=100:
    print('A')
elif grade>=70 and grade <= 89:
    print('B')
elif grade>=60 and grade <=69:
    print('C')
elif grade>=50 and grade <=59:
    print('C')
elif grade>=0 and grade <=49:
    print('F')

Enter your grade:98
A

In [7]:
Autumn = ['September', 'October','November']
Winter = ['December', 'January','February']
Spring = ['March', 'April' ,'May']
Summer=['June', 'July', 'August']
month = str(input('Enter month:'))
if month in Autumn:
    print('Autumn')
elif month in Winter:
    print('Winter')
elif month in Spring:
    print('Spring')
elif month in Summer:
    print('Summer')

Enter month:March
Spring

In [8]:
fruits = ['banana', 'orange', 'mango', 'pear']
fruit = str(input('Enter a fruit'))
if fruit in fruits:
    print(fruit,'already exist in the list')
else :
    fruits.append(fruit)
    print(fruits)

Enter a fruitpear
pear already exist in the list

In [9]:
person={
    'first_name': 'Milaan',
    'last_name': 'Parmar',
    'age': 96,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['Python', 'Matlab', 'R', 'C', 'C++'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

if(person.__contains__('skills')):
    list = person.get('skills')
    print(list[int(len(list)/2)])

if(person.__contains__('skills')):
    list = person.get('skills')
    if 'Python' in list:
        print('has Python')
    else:
        print('no Python')


if(person.__contains__('skills')):
    list = person.get('skills')
    if 'Python' in list and 'Matlab' in list:
        print('He knows machine learning')
    elif 'Python' in list and 'R' in list:
        print('He knows statistics')
    elif 'C' in list and 'C++' in list:
        print('He knows software development')
    else:
        print('unknown title')

if person.get('is_marred') and person.get('country')=='Finland':
    print(person.get('first_name')+' '+person.get('last_name')+' lived in Finland. He is married')

R
has Python
He knows machine learning
Milaan Parmar lived in Finland. He is married

In [10]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [12]:
for i in range(0,7):
    for j in range(0,8):
        print ("#",end="")
    print("\n")

########

########

########

########

########

########

########

In [13]:
for i in range(1,7):
    for j in range(0,7-i):
        print(' ',end="")
    for j in range(0,2*i-1):
        print("#",end="")
    print("")

      #
     ###
    #####
   #######
  #########
 ###########

In [14]:
for i in range(0,11):
    print(i,'x',i,'=',i*i)

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [15]:
lists = ['Python', 'Numpy','Pandas','Scikit', 'Pytorch']
for i in lists:
    print(i)

Python
Numpy
Pandas
Scikit
Pytorch

In [16]:
for i in range(0,101):
    if i%2==0:
        print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [17]:
for i in range(0,101):
    if i%2!=0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [18]:
sum=0
for i in range(0,101):
    sum+=i
print(' The sum of all numbers is',sum)

 The sum of all numbers is 5050

In [19]:
sum_evens=0
sum_odds=0
for i in range(0,101):
    if i%2==0:
        sum_evens+=i
    else:
        sum_odds+=i

print('The sum of all evens is',sum_evens,'. And the sum of all odds is',sum_odds)

The sum of all evens is 2550 . And the sum of all odds is 2500

In [ ]:
from countries import countries
for c in countries:
    print(c,end=" , ")

In [20]:
fruits_list = ['banana', 'orange', 'mango', 'lemon']
i=0
j=len(fruits_list)-1
while(i<j):
    tmp = fruits_list[i]
    fruits_list[i] = fruits_list[j];
    fruits_list[j]=tmp;
    i+=1
    j-=1
print(fruits_list)

['lemon', 'mango', 'orange', 'banana']

In [ ]:
from countries_details_data import data